<div class="container">
<h1>Upload your files to be zipped</h1>
<h4> Max limit 10 MB</h4>
<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>



<%= form_tag( { :action => 'create' }, :multipart => true ) %>
  Upload files: <%= file_field( "form", "file" ,{multiple: true}) %>
  <br />
  <br />
  <%= submit_tag( "Upload file" ) %>
  <br />
</form>
<br><br>
<hr>

<span>A utility made by <a href="http://ankit-kulkarni.github.io/aboutme" >Ankit Kulkarni</a> </span>
</div>


